// Partials
@import "partials/animations", "partials/hero", "partials/variables"
// Fonts
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Black+Ops+One|Orbitron|Quicksand)

body
  margin: 0

#main-wrapper
  display: flex
  flex-direction: row
  height: 100vh

#sidebar
  width: 40%
  background: $navMainBgColor
  display: flex
  align-items: center
  justify-content: flex-end
  overflow: hidden
  &.enter
    animation: slideInSidebar 0.2s ease-in-out

nav
  font-family: $navFont
  font-size: 35px
  color: $navMainFontColor
  a
    text-decoration: none
    color: $navMainFontColor
    display: block
    padding: 15px 10px 5px 15px

  ul
    list-style-type: none
    text-align: right
    li
      margin-right: -200px
      transition: all 0.2s ease-in-out
      opacity: 0
      &.enter
        opacity: 1
        margin-right: 0
      &.active, &:hover
        background: $navActiveBgColor
        a
          color: $navActiveFontColor
      &:hover
        cursor: pointer
      &:active
        background: $navActiveSelectColor
      &::selection
        background: none

#page
  width: 60%
  padding: 20px
  overflow: scroll
  display: flex
  justify-content: flex-start
  align-items: center
  &.enter
    animation: slideInPage 0.2s ease-in-out
  .content-wrapper
    overflow: scroll
    height: 90vh
    width: 500px
    padding: 20px
    border: 2px solid black
    opacity: 0
    transition: opacity 0.2s ease-in-out
    &.enter
      opacity: 1
  .content
    font-family: $contentFont
    height: inherit
    width: inherit
    transition: opacity 0.2s ease-in-out
    opacity: 0
    &.enter
      opacity: 1
    &.exit
      opacity: 0
    h1
      font-family: $contentHeadingFont

  .about, .portfolio, .skills, .contact
    background: white
